header,footer,section
aside,nav,article {
	display: block;
	position: relative;
}

body{
	padding: 0;
	margin: 0 !important;
}

#wrapper {
	margin: 0 auto;
	width: auto;
}

header {
	background: url(images/MGlowne-Tlo-Pasek.png) repeat-x;
	height: 53px;
}

#centered_container{
	margin: auto;
	width: 860px;
}

footer {
	position: fixed;
	bottom: 0px;
	width:100%;
	font-family: Verdana;
	font-size: 12px;
	color: #666666;
	background: url(images/Stopka-Tlo-PAsek.png) repeat-x;
	height: 20px;
	text-align: center;
	padding-top: 10px;
}

#menu_level_2 {
	background: #F4F5F4;
	height: 36px;
}



#contents {
	font-size: 12px;
	font-family: Verdana;
	color: #666666;
	position: relative;
	top: 20px;
	background: #F4F5F4;
	width: 860px;
	min-height: 100px;
	margin: 0 auto;
}

#shadow {
	top: 20px;
	position: relative;
	width: 860px;
	min-height: 25px;
	margin: 0 auto;
	background: url(images/shadow.png) no-repeat;
}

.container {
	display: table; /* wy�wietlanie jak tabela*/
}

.blockOuter {
	display: table-cell;
	vertical-align: middle; /* wypo�rodkowywanie tre�ci w pionie */
}

.secondLevelMenu {

	text-align: center;
	display: inline;
	position: absolute;
	left: 30%;
	right: 30%;
}

.firstLevelMenu {
	margin-left: 35px;
	padding-top: 10px;
}

.secondLevelMenu>.currentMenuButton {
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	background-color: white;
	color: #666666;
	top: 4px;
	width: 200px;
	height: 32px;
	float: centre;
	text-align: center;
	border: none;
	color: #207DBA;
	cursor: pointer;
}

.secondLevelMenu>.menuButton {
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	background-color: #E5E5E5;
	color: #666666;
	 margin-top: 10px;
	width: 200px;
	height: 26px;
	float: centre;
	text-align: center;
	border: none;
	cursor: pointer;
}

.firstLevelMenu>.menuButton {
	font-size: 15px;
	padding-bottom: 10px;
	margin-left: 30px;
	font-family: Verdana;
	color: #666666;
	position: relative;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.firstLevelMenu>.menuButton:hover, .secondLevelMenu>.menuButton:hover{
	color: #4185BC;
}

.firstLevelMenu>.currentMenuButton {
	font-size: 15px;
	padding-bottom: 10px;
	background: url(images/menu_kreska.png) repeat-x;
	margin-left: 30px;
	font-family: Verdana;
	color: #207DBA;
	position: relative;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

button.confirmButton, button.addRecognitionButton, button.addSymptom, button.patientCard, button.action_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: #666666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
	cursor: pointer;
}

button.confirmButton:hover, button.addRecognitionButton:hover, button.addSymptom:hover, button.patientCard:hover, button.action_button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: -moz-linear-gradient(top, #207cba 0%, #207cba);
	background: -webkit-gradient(linear, left top, left bottom, from(#207cba),
		to(#207cba) );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
}

button.action_button{
	float:left;
}

.mainPanel {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 15px;
	overflow: hidden;
	height: auto;
}

.row>.firstColumn {
	padding-top: 15px;
	text-align: left;
	padding-left: 350px;
}

.row>.secondColumn  {
	padding-top: 5px;
	text-align: center;
}

.row>.buttonColumn{
	padding-left: 350px;
	margin-top: 20px;
	float: left;
	width: 100%;
}

.row>.thirdColumn {
	padding-top: 5px;
	color: red;
}

button.cancelButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: #666666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
	cursor: pointer;
}

button.cancelButton:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: -moz-linear-gradient(top, #207cba 0%, #207cba);
	background: -webkit-gradient(linear, left top, left bottom, from(#207cba),
		to(#207cba) );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
}

.radioButton {
	padding-top: 10px;
	padding-left: 10px;
}

.details_questionnaire{
    padding-top: 30px;
    text-align: left;
    font-size: 15px;

	font-family: Verdana;
	padding-left: 15px;

}
.first_label{
           width: 100px;
           display: inline-block;

}

.second_label{
      display: inline-block;
     color: blue;   
}
.symptoms_label{
          padding-top: 30px;
    text-align: left;
    font-size: 15px;
    color: #207DBA;
	font-family: Verdana;
	padding-left: 15px;  
	padding-bottom: 15px;
}

.details{
     padding-top: 15px;
    text-align: left;
    font-size: 15px;

	font-family: Verdana;
	padding-left: 15px;   
}
.details > .firstRow{

}
.details_label{
     display: inline-block;

}
.details > .secondRow{
    padding-top: 15px;
    text-align: center;
}

.details_label_second{
     display: inline-block;   
}


.searchResult{
     padding-top: 10px; 
}

.searchResult .row .patient{
    padding-bottom: 10px;
}

.patientCardRow .patientCardColumn{
     display: inline-block;
     width: 240px;
     text-align: left;
     padding-left: 20px;
     padding-right: 20px;
}
.patientCardRow{
     padding-top: 15px;
     font-size: 15px;
    font-family: Verdana;
      
}

.patientCardRow .patientCardColumn .name{
	color: #207DBA;
	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 10px;


}

.PatientCardRowAlergie .patientCardColumn{
     display: inline-block;

        text-align: left;
     padding-left: 20px;
     padding-right: 20px;
}
.PatientCardRowAlergie{
     padding-top: 15px;
     font-size: 15px;
    font-family: Verdana;
    text-align: left;
    padding-left: 10px;
      
}

.PatientCardRowAlergie .patientCardColumn .name{
	color: #207DBA;
	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 10px;
	width: 520px;


}

.dateRow{
    padding-bottom: 10px;
	background: url(images/menu_kreska.png) repeat-x; 
	margin-right: 10px;
}

.firstRow > .details_label{
 text-align: left;
 color: #207DBA;
}

.questionnaireRowEven{
    padding-top: 20px;

 
    font-size: 15px;
    font-family: Verdana;
    text-align: left;
    padding-left: 15px;
}

.questionnaireRowOdd{
    padding-top: 20px;
   background:  #E5E5E5;
    font-size: 15px;
    font-family: Verdana;
    text-align: left;
    padding-left: 15px;
}

.details_label .gwt-RadioButton{
 padding-left: 50px;
 color: black; 
}
.details_label > .details_label{
     display: inline-block;
     width: 500px;

}
.symptom_label{
     color: #207DBA;
     display: inline-block;
     width: 100px;    
}
.questionnaireRowEven .secondRow{
    color: black;
    text-align: center;
    height: 50px;

}
.questionnaireRowEven .firstRow{
       height: 50px;
}

.questionnaireRowOdd .secondRow{
    color: black;
    text-align: center;
    height: 50px;

}
.questionnaireRowOdd .firstRow{
       height: 50px;
}


/*belt */

.belt {

	        font-size: 12px;
	        font-family: Verdana;
	        color: white;
	        background: #207DBA;
	        height: 26px;
}
.belt .row{
           display: inline-block;
           height: 26px;  
}
.belt .row .arrowDiv{
            display: inline-block;
            width: 26px;
            height: 26px;   
}

.belt .row .buttonDiv{
             display: inline-block;
             
}

.belt .row .buttonDiv .button{
    font-family: Verdana;
	font-size: 12px;
	background-color: #207DBA;
	color: white;
	float: centre;
	text-align: center;
	border: none;
	height: 20px;
	position: relative;
	display: inline-block;
		top: -6px;
			cursor: pointer;
	
}

.patientAndDoctorFullNameInfo{
    font-family: Verdana;
	font-size: 15px;
    color:  #207DBA;


}

.patientAndDoctorFullNameInfo .doctorFullNameLabel{
display: inline-block;
width: 110px;
padding-left: 10px;
text-align: left;
	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 10px;

}
.patientAndDoctorFullNameInfo .doctorFullName{
        color: black;
     display: inline-block;
     width: 700px;
     text-align: left;
     	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 30px;


}
.patientAndDoctorFullNameInfo .patientFullName{
     color:  black;
     display: inline-block;
   width: 700px;
    text-align: left;
    	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 10px;

}
.patientAndDoctorFullNameInfo .patientFullNameLabel{

         display: inline-block;
          width: 110px;
        text-align: left;
        	background: url(images/menu_kreska.png) repeat-x;
	padding-bottom: 30px;
	padding-left: 10px;


}

.even{
        font-family: Verdana;
	font-size: 15px;
     background: #E5E5E5;
     padding-top: 10px;
     padding-bottom: 10px;  
     text-align: left;
     padding-left: 25px;

}

.even .firstColumn .title{
    display: inline-block;
    width: 110px;
    text-align: left;
        color:  #207DBA;
}

.even .secondColumn .selectBox{
        display: inline-block;
        width: 300px;
        padding-right:
}

.even .firstColumn {
           display: inline-block;
}

.even .secondColumn{
        display: inline-block;
}


.odd{
        font-family: Verdana;
	font-size: 15px;
     padding-top: 10px;
     padding-bottom: 10px;  
     text-align: left;
     padding-left: 25px; 
}

.odd .firstColumn .title{
    display: inline-block;
    width: 110px;
    text-align: left;
        color:  #207DBA;
}

.odd .secondColumn .selectBox{
        display: inline-block;
        width: 300px;
        padding-right:
}

.odd .firstColumn {
           display: inline-block;
}

.odd .secondColumn{
        display: inline-block;
}

.row .timeColumn{
     background:    #207DBA;
     font-style: Verdana;
     font-size: 15px;
     color: white;
     display: inline-block;
     width: 220px;
     text-align: left;
     padding-left: 25px;
}
.row .doctorColumn{
     background:    #207DBA;
     font-style: Verdana;
     font-size: 15px;
     color: white;
     display: inline-block;
     width: 295px;
          text-align: left;
}
.row .diseaseColumn{
     background:    #207DBA;
     font-style: Verdana;
     font-size: 15px;
     color: white;
     display: inline-block;
     width: 320px;
     text-align: left;
}

.even .date{ 
     font-style: Verdana;
     font-size: 15px;
     display: inline-block;
     width: 220px;
     text-align: left;

}
.even .diseaseName{
     font-style: Verdana;
     font-size: 15px;
     display: inline-block;
     width: 310px;
     text-align: left;
}

.even .personName{
     font-style: Verdana;
     font-size: 15px;
     display: inline-block;
     width: 310px;
     text-align: left;
    
}

.searchResult .row .patient{
 
        font-familie: Verdana;
        font-size: 15px;
        color:#207DBA;;
    
}


.diseaseSelect{
 text-align: left;   
}

.diseaseSelect .firstColumn .title{
     display: inline-block;

     font-size: 15px;  
     padding-left: 20px;
     padding-bottom: 20px; 
     
}

.diseaseSelect .firstColumn{
     display: inline-block;
     font-familie: verdana;
     font-size: 15px;   
     text-align: left;
     width: 135px;
}

.diseaseSelect .secondColumn{
     display: inline-block;
     font-familie: verdana;
     font-size: 15px;   
}

.diseaseSelect .firstColumn .title{
     color: #207DBA;
     display: inline-block;
     font-familie: verdana;
     font-size: 15px;  
}

.diseaseSelect .secondColumn .selectBox{
     width: 300px; 
}


.even .timeDiv{
    display: inline-block;
    width: 220px;
}

.even .personDiv{
        display: inline-block;
        width: 295px;
    
}
.even .diseaseDiv{
        display: inline-block;

        width: 180px;
    
}
.even .buttonDiv{
     display: inline-block;   
}


.button{
     	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: #666666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;   
}

.button:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: -moz-linear-gradient(top, #207cba 0%, #207cba);
	background: -webkit-gradient(linear, left top, left bottom, from(#207cba),
		to(#207cba) );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
}



.odd .timeDiv{
    display: inline-block;
    width: 220px;
}

.odd .personDiv{
        display: inline-block;
        width: 295px;
    
}
.odd .diseaseDiv{
        display: inline-block;

        width: 180px;
    
}
.odd .buttonDiv{
     display: inline-block;   
}

.symptom{
    font-size: 15px;
     display: inline-block;   
     text-align: left;
     width: 860px;
}

.symptom .row{
     display: inline-block;
     text-align: left;
     padding-bottom: 30px;   
}

.symptom .row .firstColumn{
     display: inline-block; 
     padding-left: 15px;
     text-align: left;  
}

.symptom .row .firstColumn .title{
     display: inline-block;  
     text-align: left; 
width:
     padding-right: 30px;
     }

.symptom .row .secondColumn{
     display: inline-block;   
    padding-right: 30px;
}

.symptom .row .secondColumn .selectBox{
     display: inline-block; 
     width: 150px;
     font-size: 16px; 
     
}


.wyszukaj{
     	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: #666666;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;   
}

.wyszukaj:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 20px;
	background: -moz-linear-gradient(top, #207cba 0%, #207cba);
	background: -webkit-gradient(linear, left top, left bottom, from(#207cba),
		to(#207cba) );
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #000000;
}

.wait{
        padding-left: 360px; 
        padding-bottom:10px; 
                padding-top:10px; 
}

.wait .textLabel, .progress_message{
        width: auto;
 	    padding-right: 20px;
		background: url(images/progress.gif);
		background-repeat: no-repeat;
		background-position: right;	   
}

.progress_message, .correct_message, .error_message{
	margin-left: 20px;
	margin-top: 10px;
	color: #1F7DB9;
	display: block;
	float: left;
}

.correct_message{
	width: auto;
	color: green;
}

.error_message{
	width: auto;
	color: red;
}

.hidden{
	display: none;
}

.welcomeName{
     font-size: 15px;
     padding-bottom: 20px;
     padding-top: 20px;   
}

.welcomeText{
     padding-bottom: 20px;   
}

.drugStatisticLabel{
     	        background: #207DBA;
     	        color: white;
     	        padding-top: 5px;
     	        padding-bottom: 5px;
     	        font-size: 15px;
     	        padding-left: 5px;
}
.drugStatisticLabel .gwt-Label{
     display: inline-block;   
     width: 210px;
     text-align: left;
     
}

.drugStatisticEven{
                 background: #E5E5E5;
     	        padding-top: 5px;
     	        padding-bottom: 5px;
     	        font-size: 15px;
     	        padding-left: 5px;
}
.drugStatisticEven .gwt-Label{
     display: inline-block;   
     width: 210px;
     text-align: left;
     
}
.drugStatisticOdd{
     	        padding-top: 5px;
     	        padding-bottom: 5px;
     	        font-size: 15px;
     	        padding-left: 5px;
}
.drugStatisticOdd .gwt-Label{
     display: inline-block;   
     width: 210px;
     text-align: left;
     
}

.recognitionsDetailsRow{
     font-size: 15px;
     display: inline-block; 

}

.recognitionsDetailsRow .value{
     padding-bottom: 15px;
     display: inline-block;
     text-align: left; 
     width: 660px;  
     background: url(images/menu_kreska.png) repeat-x; 
     height: 26px;
}
.recognitionsDetailsRow .name{
    color: #207DBA;
     display: inline-block;  
     text-align: left; 
     width: 180px;
     background: url(images/menu_kreska.png) repeat-x; 
     height: 26px;

}


.recognitionsDetailsRowP{
    color: black;
     display: inline-block;  
     text-align: left; 
                 background: #E5E5E5;
    font-size: 15px;

}

.recognitionsDetailsRowP .objaw{
    padding-top:20px;
         display: inline-block; 
         width: 180px;
         padding-left: 10px; 
}
.recognitionsDetailsRowP .przypisane{
         display: inline-block; 
         width: 220px;  
         color: #207DBA;
}
.recognitionsDetailsRowP .leki{
         display: inline-block;
         width: 440px;  
}
.recognitionsDetailsRowP .etap{
    padding-top: 20px;
         display: inline-block;
                  color: #207DBA;
                  width:220px;
                  padding-left: 190px;
                      padding-bottom: 20px;  
}
.recognitionsDetailsRowP .etapLeczenia{
         display: inline-block;  
}

.recognitionsDetailsRowN{
    color: black;
     display: inline-block;  
     text-align: left; 
    font-size: 15px;

}

.recognitionsDetailsRowN .objaw{
    padding-top:20px;
         display: inline-block; 
         width: 180px;
         padding-left: 10px; 
}
.recognitionsDetailsRowN .przypisane{
         display: inline-block; 
         width: 220px;  
         color: #207DBA;
}
.recognitionsDetailsRowN .leki{
         display: inline-block;
         width: 440px;  
}
.recognitionsDetailsRowN .etap{
    padding-top: 20px;
         display: inline-block;
                  color: #207DBA;
                  width:220px;
                  padding-left: 190px;
                      padding-bottom: 20px;  
}
.recognitionsDetailsRowN .etapLeczenia{
         display: inline-block;  
}