header,footer,section
aside,nav,article {
	display: block;
	position: relative;
}

#wrapper {
	margin: 0 auto;
	width: auto;
}

header {
	background: url(images/MGlowne-Tlo-Pasek.png) repeat-x;
	height: 53px;
}

footer {
	position: relative;
	top: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #666666;
	background: url(images/Stopka-Tlo-PAsek.png) repeat-x;
	height: 53px;
	text-align: center;
	padding-top: 10px;
}

#menu_level_2 {
	background: #F4F5F4;
	height: 36px;
}

#belt {
	position: relative;
	font-size: 12px;
	font-family: Verdana;
	color: white;
	background: #207DBA;
	height: 26px;
}

#belt table {
	position: relative;
	top: -3px;
}

#contents {
	font-size: 12px;
	font-family: Verdana;
	color: #666666;
	position: relative;
	top: 20px;
	background: #F4F5F4;
	width: 860px;
	min-height: 100px;
	margin: 0 auto;
}

nav {
	font-family: Verdana;
	font-size: 20px;
	color: #666666;
}

.container {
	display: table; /* wyœwietlanie jak tabela*/
}

.blockOuter {
	display: table-cell;
	vertical-align: middle; /* wypoœrodkowywanie treœci w pionie */
}

#menu_level_2 ul,ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu_level_2 ul {
	width: 100%;
	padding-left: 250px;
	display: inline;
}

#menu_level_2 ul li {
	float: left;
	text-align: center;
}

#menu_level_2 ul a:link,ul a:visited {

}

#menu_level_2 ul a:hover {
	top: 2px;
	background-color: #fff;
	border-bottom-color: #fff;
	color: #207DBA;
	height: 34px;
	float: left;
	text-align: center;
		float: left;
	width: 100%;
	padding-left: 250px;
}

.secondLevelMenu > .menuButton {
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background-color: #E5E5E5;
	color: #666666;
	position: relative;
	top: 10px;
	width: 150px;
	height: 26px;
	float: centre;
	display: inline;
	text-align: center;
	border: none;

}
.secondLevelMenu {
     text-align: center; 
     display: inline;
     position:absolute;
       left: 30%;
       right: 30%;
       
}

.firstLevelMenu{
    margin-left: 36%;  
}


.secondLevelMenu > .currentMenuButton {		
    font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	display: block;
	background-color: white;
	color: #666666;
	position: relative;
	top: 4px;
	width: 150px;
	height: 32px;
	float: centre;
	display: inline;
	text-align: center;
	border: none;
	color: #207DBA;

}

.firstLevelMenu > .menuButton{
	margin-left: 50px;
	font-family: 		Verdana;
	padding-top: 15px;
	color: #666666;
	position: relative;
  	text-decoration: none;
  	border: none;

  	
}



.firstLevelMenu > .currentMenuButton{ 
	margin-left: 50px;
	font-family: 		Verdana;
	padding-top: 10px;
	position: relative;
	color: #207DBA;
	text-decoration: underline;
	border: none;
	}
	
	
button.confirmButton {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#207cba 0%,
		#15537a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#207cba),
		to(#15537a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #282257;
	-moz-box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

button.confirmButton:hover {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#207cba 0%,
		#15537a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#207cba),
		to(#15537a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #282257;
	-moz-box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.mainPanel{
    text-align: center;
    padding-bottom: 20px;
}

.row > .firstColumn {
     padding-top: 15px;
     text-align: left;
     padding-left: 350px;
}
.row > .secondColumn {
     padding-top: 5px;
     text-align: center;
}
.row > .thirdColumn{
    
     padding-top: 5px;
     color: red; 
}

button.cancelButton {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#207cba 0%,
		#15537a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#207cba),
		to(#15537a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #282257;
	-moz-box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 0px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

button.cancelButton:hover {
font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#207cba 0%,
		#15537a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#207cba),
		to(#15537a));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #282257;
	-moz-box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		3px 3px 9px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.radioButton{
    padding-top: 10px;
    padding-left: 10px;
    }



